{% extends "shop/basic.html" %}

{% block title %}Contact Us - My Awesome Cart{% endblock %}
{% block body %}
<div class="container my-3">
  {% for msg in messages %}
    <div class="alert alert-{{ msg.tags }} alert-dismissible fade show" role="alert">
        <strong>{{ msg }}</strong>
    </div>
  {% endfor %}
  

    <h3>Contact Us</h3>
 
    <form action="/shop/contact/" method="post">{% csrf_token %}
      <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name" required>
      </div>
  
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
      </div>
  
      <div class="form-group">
          <label for="phone">Phone</label>
          <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number" pattern="^\d{10}$" required maxlength="10" minlength="10" title="Please enter exactly 10 digits.">
          <small class="form-text text-muted">Please enter a 10-digit phone number.</small>
      </div>
  
      <div class="form-group">
          <label for="desc" class="form-label">How Can We Help You?</label>
          <textarea class="form-control" id="desc" name="desc" rows="3" required></textarea>
      </div>
  
      <button type="submit" class="btn btn-success">Submit</button>
  </form>
  
  

</div>


{% endblock %}
{% block js %}
<script>
{% if thank %}
alert('Thanks for conecting us we will get back to you soon!');
document.location = "/shop/contact";
{% endif %}
</script>
{% endblock %}