{% extends "shop/basic.html" %}
{% block title %} {{product.product_name}} - My Awesome Cart{% endblock %}
{% block body %}

<title>Product View</title>
<link rel="stylesheet" href="/static/blog/style.css">

<div class="container my-4">
    <div class="row product-container border rounded shadow-sm p-3">
        
        <!-- Product Image -->
        <div class="col-md-4">
            <div class="product-image text-center">
                <img src="/media/{{product.image}}" alt="{{product.product_name}}" class="img-fluid rounded">
            </div>
        </div>

        <!-- Product Details -->
        <div class="col-md-8 product-details">
            <h5 class="font-weight-bold text-primary">{{product.product_name}}</h5>
            <p><b class="text-success">Rs. {{product.price}}</b></p>
            <p class="text-muted">{{product.desc}}</p>
            <div class="my-3">
                <button class="btn btn-primary btn-lg mx-2">Buy Now</button>
                <button class="btn btn-secondary btn-lg mx-2">Add To Cart</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}
{% comment %} <script>
    console.log('working');
    if(localStorage.getItem('cart') == null){
    var cart = {};
    }
    else
    {
    cart = JSON.parse(localStorage.getItem('cart'));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
    }
    $('.cart').click(function(){
    console.log('clicked');
    var idstr = this.id.toString();
    console.log(idstr);
    if (cart[idstr] !=undefined){
    cart[idstr] = cart[idstr] + 1;
    }
    else
    {
    cart[idstr] = 1;
    }
    console.log(cart);
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
    });
    $('#popcart').popover();
    document.getElementById("popcart").setAttribute('data-content', '<h5>Cart for your items in my shopping cart</h5>');
    </script> {% endcomment %}
{% endblock %}